@model IEnumerable<Forums.Web.Models.PostUserViewModel>

@{
    ViewBag.Title = "Acasa";
    Layout = "~/Views/Home/HomeLayout/_HomeLayout.cshtml";
}
<head>
    <title>@ViewBag.Title</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<section class="main-content920">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div id="main">
                    <input id="tab1" type="radio" name="tabs" checked>
                    <label for="tab1">Recent Question</label>
                    <input id="tab2" type="radio" name="tabs">
                    <label for="tab2">Most Response</label>
                    <input id="tab3" type="radio" name="tabs">
                    <label for="tab3">Recently Answered</label>
                    <input id="tab5" type="radio" name="tabs">
                    <label for="tab5">Recent Post</label>

                    <section id="content1">
                        <!--Recent Question Content Section -->
                        @foreach (var postData in Model)
                        {
                            <div class="question-type2033">
                                <div class="row">
                                    <div class="col-md-1">
                                        <div class="left-user12923 left-user12923-repeat">
                                            @if (!string.IsNullOrEmpty(@postData.User.Photo))
                                            {

                                                <img src="@Url.Content(@postData.User.Photo)" />
                                            }
                                            else
                                            {
                                                <img src="~/images/icon_profile.png" />
                                            }

                                            <a href="#"><i class="fa fa-check" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="right-description893">
                                            <div id="que-hedder2983">
                                                <h3><a href="#" target="_blank">@postData.post.Title</a></h3>
                                            </div>
                                            <div class="ques-details10018">
                                                @Html.Raw(postData.post.Content)
                                            </div>
                                            <hr>
                                            <div class="ques-icon-info3293">
                                                <a href="#"><i class="fa fa-star" aria-hidden="true"> 5 </i></a>
                                                <a href="#"><i class="fa fa-folder" aria-hidden="true"> wordpress</i></a>
                                                <a href="#"><i class="fa fa-question-circle-o" aria-hidden="true"> Question</i></a>
                                                <a href="#"><i class="fa fa-bug" aria-hidden="true"> Report</i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="ques-icon-info3293">
                                            @if (ViewBag.IsAdmin)
                                            {
                                                <button class="btn btn-danger delete-post-btn" style="background-color: #dc3545; border-color: #dc3545; padding: .5rem 1rem; font-size: 1.1rem;" data-post-id="@postData.post.Id">Delete</button>
                                            }
                                            <script>
                                                $(document).ready(function () {
                                                    $('.delete-post-btn').click(function (e) {
                                                        e.preventDefault();
                                                        var postId = $(this).data('post-id');

                                                        swal({
                                                            title: "Are you sure?",
                                                            text: "This post will be deleted permanently!",
                                                            icon: "warning",
                                                            buttons: true,
                                                            dangerMode: true
                                                        })
                                                            .then((willDelete) => {
                                                                if (willDelete) {
                                                                    $.ajax({
                                                                        url: '@Url.Action("DeletePost", "Post")',
                                                                        type: 'POST',
                                                                        data: { id: postId },
                                                                        success: function (response) {
                                                                            if (response.success) {
                                                                                swal("Deleted", {
                                                                                    icon: "success"
                                                                                }).then(() => {
                                                                                    location.reload();
                                                                                });
                                                                            } else {
                                                                                swal("Error", "response not succes.", "error");
                                                                            }
                                                                        },
                                                                        error: function () {
                                                                            swal("Error", "Error function.", "error");
                                                                        }
                                                                    });
                                                                } else {
                                                                    swal("The post is safe!");
                                                                }
                                                            });
                                                    });
                                                });
                                            </script>
                                            <a href="#" type="button"><i class="fa fa-comment" aria-hidden="true"> 3 answers</i></a>
                                            <a href="#" type="button"><i class="fa fa-user-circle-o" aria-hidden="true"> 70 views</i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                        <div class="question-type2033">
                            <div class="row">
                                <div class="col-md-1">
                                    <div class="left-user12923 left-user12923-repeat">
                                        <a href="#"><img src="~/images/images.png" alt="image"></a><a href="#"><i class="fa fa-check" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="right-description893">
                                        <div id="que-hedder2983">
                                            <h3><a href="#" target="_blank">This is my first Question</a></h3>
                                        </div>
                                        <div class="ques-details10018">
                                            <p>Duis dapibus aliquam mi, eget euismod sem scelerisque ut. Vivamus at elit quis urna adipiscing iaculis.Duis dapibus aliquam mi, eget euismod sem scelerisque ut. Vivamus at elit quis urna adipiscing iaculis.</p>
                                        </div>
                                        <hr>
                                        <div class="ques-icon-info3293"><a href="#"><i class="fa fa-star" aria-hidden="true"> 5 </i> </a> <a href="#"><i class="fa fa-folder" aria-hidden="true"> wordpress</i></a> <a href="#"><i class="fa fa-clock-o" aria-hidden="true"> 4 min ago</i></a> <a href="#"><i class="fa fa-question-circle-o" aria-hidden="true"> Question</i></a> <a href="#"><i class="fa fa-bug" aria-hidden="true"> Report</i></a> </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="ques-icon-info3293">
                                        <a href="#" type="button"><i class="fa fa-comment" aria-hidden="true"> 3 answers</i></a>
                                        <a href="#" type="button"> <i class="fa fa-user-circle-o" aria-hidden="true"> 70 views</i> </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*<nav aria-label="Page navigation">
                                <ul class="pagination">
                                    <li>
                                        <a href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li>
                                        <a href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>*@
                    </section>
                    <!--  End of content-1------>

                    <section id="content2">
                    </section>

                    <section id="content3">
                    </section>

                    <section id="content4">
                    </section>


                    <section id="content5">
                    </section>

                </div>
            </div>
            <!--end of col-md-9 -->
            <!--strart col-md-3 (side bar)-->
            <aside class="col-md-3 sidebar97239">
                <div class="status-part3821">
                    <h4>Stats</h4> <a href="#"><i class="fa fa-question-circle" aria-hidden="true"> Question(20)</i></a> <i class="fa fa-comment" aria-hidden="true"> Answers(50)</i>
                </div>
                <div class="categori-part329">
                    <h4>Category</h4>
                    <ul>
                        <li><a href="#">web developer</a></li>
                        <li><a href="#">Andriod developer</a></li>
                        <li><a href="#">grapics developer</a></li>
                        <li><a href="#">web developer</a></li>
                    </ul>
                </div>


                <!--        start recent post  -->
                <div class="recent-post3290">
                    <h4>Recent Post</h4>
                    <div class="post-details021">
                        <a href="#"><h5>How much do web developers</h5></a>
                        <p>I am thinking of pursuing web developing as a career & was ...</p> <small style="color: #848991">July 16, 2017</small>
                    </div>
                    <hr>
                    <div class="post-details021">
                        <a href="#"><h5>How much do web developers</h5></a>
                        <p>I am thinking of pursuing web developing as a career & was ...</p> <small style="color: #848991">July 16, 2017</small>
                    </div>
                    <hr>
                    <div class="post-details021">
                        <a href="#"><h5>How much do web developers</h5></a>
                        <p>I am thinking of pursuing web developing as a career & was ...</p> <small style="color: #848991">July 16, 2017</small>
                    </div>
                </div>
                <!--       end recent post    -->
            </aside>
        </div>
    </div>
</section>